@import url("https://fonts.googleapis.com/css?family=Maven+Pro:500&display=swap&subset=vietnamese");
.sidebar .contacts h1, .sidebar .discussions h1 {
  font-weight: 800;
  font-size: 24px;
  color: #212529;
  margin-bottom: 0;
  padding-bottom: 18px;
  border-bottom: 2px solid #fbfbfb;
}

.sidebar .contacts .contact .data h5, .sidebar .discussions .single .data h5 {
  font-weight: 700;
  font-size: 16px;
  color: #212529;
  margin-bottom: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.sidebar .contacts .contact .data p, .sidebar .discussions .single .data p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

.sidebar .contacts .contact, .sidebar .discussions .single {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #fbfbfb;
}

.sidebar .contacts .contact .data, .sidebar .discussions .single .data {
  width: 100%;
}

.sidebar .contacts .contact:last-of-type, .sidebar .discussions .single:last-of-type {
  border-bottom: 2px solid transparent !important;
}

.requests .content .form-group label {
  font-weight: 700;
  font-size: 14px;
  color: #212529;
  margin-bottom: 10px;
  text-transform: uppercase;
}

@-webkit-keyframes wave {
  0%,
  60%,
  100% {
    -webkit-transform: initial;
    transform: initial;
  }
  30% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes wave {
  0%,
  60%,
  100% {
    -webkit-transform: initial;
    transform: initial;
  }
  30% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 50px transparent;
            box-shadow: 0 0 0 50px transparent;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 50px transparent;
            box-shadow: 0 0 0 50px transparent;
  }
}

@-webkit-keyframes call-end {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px transparent;
            box-shadow: 0 0 0 20px transparent;
  }
}

@keyframes call-end {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px transparent;
            box-shadow: 0 0 0 20px transparent;
  }
}

@-webkit-keyframes float {
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes float {
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

.aside {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  min-width: 550px;
  max-width: 550px;
  background: linear-gradient(145deg, #8ca7ff 0, #8b54f9 50%, #6610f2 100%);
}

.aside .preference {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

.aside .preference h2 {
  font-weight: 800;
  font-size: 46px;
  color: #fff;
  margin-bottom: 23px;
}

.aside .preference p {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  line-height: 1.7;
  margin-bottom: 30px;
}

.aside .preference .button {
  background-color: #fff;
  color: #2196f3;
  max-width: 300px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.avatar-xl {
  height: 60px;
  width: 100%;
  min-width: 60px;
  max-width: 60px;
  border: 2px solid #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.04);
  box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.04);
}

.avatar-lg {
  height: 50px;
  width: 100%;
  min-width: 50px;
  max-width: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.04);
  box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.04);
}

.avatar-md {
  height: 45px;
  width: 100%;
  min-width: 45px;
  max-width: 45px;
  border: 2px solid #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.04);
  box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.04);
}

.avatar-sm {
  height: 30px;
  width: 100%;
  min-width: 30px;
  max-width: 30px;
  border: 2px solid #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.04);
  box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.04);
}

.avatar-xxl {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.tooltip {
  font-weight: 600;
  font-size: 15px;
}

.tooltip.show {
  opacity: 1;
}

.tooltip-inner {
  background-color: #212529;
  color: #fff;
  padding: 5px 12px;
  border-radius: 6px;
}

.call {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
          align-items: stretch;
  height: 100%;
  background: linear-gradient(145deg, #8ca7ff 0, #8b54f9 50%, #6610f2 100%);
}

.call video {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.call .options {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 37px;
  position: absolute;
  bottom: 0;
}

.call .options .option {
  color: #fff;
  line-height: 0;
  padding: 0 20px;
}

.call .options .option.call-end {
  padding: 15px;
  background: #e05b5d;
  border-radius: 100%;
  -webkit-animation: call-end 2s infinite;
          animation: call-end 2s infinite;
  color: #fff;
  line-height: 0;
  margin: 0 20px;
}

.call .options .option:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0.9;
}

.call .back {
  padding: 18px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 100%;
  color: #fff;
  line-height: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.call .back:hover {
  -webkit-transform: translateY(10px) translateZ(0);
  transform: translateY(10px) translateZ(0);
}

.call .content {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100%;
  text-align: center;
}

.call .content .avatar-xxl {
  margin-bottom: 56px;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  cursor: pointer;
}

.call .content .participant {
  margin-bottom: 56px;
}

.call .content .participant span {
  font-weight: 500;
  color: #fff;
  display: block;
  text-align: center;
}

.call .content .options {
  position: unset;
  margin-bottom: 60px;
}

.call::-webkit-scrollbar {
  display: none;
}

.btn, .btn.active:not(:disabled):not(.disabled), .btn:not(:disabled):not(.disabled):active, .btn:active, .btn:focus, .btn:hover {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.btn {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:disabled {
  opacity: 1;
}

.button {
  width: 100%;
  padding: 16px 25px;
  background-color: #2196f3;
  font-weight: 500;
  color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.04) !important;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.04) !important;
}

.button:hover {
  color: #fff;
  opacity: 0.9;
}

.show > .btn.dropdown-toggle {
  border: none;
  -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.04) !important;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.04) !important;
}

.create.btn:not(:disabled):not(.disabled):active {
  -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.04);
}

.form-control {
  width: 100% !important;
  padding: 25px 15px;
  background-color: #f5f5f5;
  font-weight: 500;
  font-size: 16px;
  color: #bdbac2 !important;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  background-color: #f5f5f5;
  color: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #bdbac2;
}

.form-control:-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #bdbac2;
}

.form-control::-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #bdbac2;
}

.form-control::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #bdbac2;
}

.form-control[readonly] {
  background-color: #f5f5f5;
}

.dropdown-menu {
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
  min-width: 14rem;
  padding: 10px;
  margin-top: 10px;
}

.dropdown-menu hr {
  margin: 10px;
  border-top: 2px solid #fbfbfb;
}

.dropdown-menu .material-icons {
  margin-right: 10px;
}

.dropdown-item {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 10px;
  font-size: 15px;
  color: #bdbac2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 6px;
  cursor: pointer;
}

.dropdown-item:focus {
  background-color: 0 0;
  color: #bdbac2;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
  color: #bdbac2;
  border-radius: 6px;
}

.dropdown-item:active, .dropdown-item.active {
  background-color: #2196f3 !important;
  color: #fff !important;
}

.switch {
  height: 18px;
  width: 100%;
  min-width: 42px;
  max-width: 42px;
  display: inline-block;
  position: relative;
  margin-bottom: 0;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #ccc;
  cursor: pointer;
}

.slider:before {
  position: absolute;
  left: 3px;
  bottom: 3px;
  width: 12px;
  height: 12px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #fff;
  content: '';
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3 !important;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

.main {
  width: 100%;
}

.main.order-md-1, .main.order-md-2 {
  height: 100vh;
  margin: 0;
  background: #fdfdfd;
}

.main .chat {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.main .chat .content {
  padding: 20px 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 218px);
}

.main .chat .content .message {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: flex-end;
  -webkit-box-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}

.main .chat .content .message .text-main .text {
  padding: 15px;
  background: #fff;
  border-radius: 6px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
  max-width: 450px;
}

.main .chat .content .message .text-main .text .embedded-link {
  text-decoration: underline;
}

.main .chat .content .message .text-main .text .embedded-link:hover {
  color: inherit;
  text-decoration: none;
}

.main .chat .content .message .text-main .text .microlink_card .microlink_card__content {
  width: 0;
}

.main .chat .content .message .text-main .text .microlink_card:hover {
  color: initial;
}

.main .chat .content .message .text-main .text .attachment {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.main .chat .content .message .text-main .text .attachment .file h5 {
  font-weight: 400;
  font-size: 16px;
  color: #2196f3;
  line-height: 1.4;
  margin-bottom: 5px;
}

.main .chat .content .message .text-main .text .attachment .file a:hover {
  text-decoration: underline;
}

.main .chat .content .message .text-main .text .attachment .attach {
  width: 42px;
  height: 42px;
  padding: 12px;
  margin-right: 15px;
}

.main .chat .content .message .text-main .text.typing {
  padding: 8px 12px;
}

.main .chat .content .message .text-main .text.me {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #2196f3;
}

.main .chat .content .message .text-main .text.me.image {
  background-color: #f5f5f5;
}

.main .chat .content .message .text-main .text.me .attachment .attach {
  background-color: #fff;
  color: #2196f3;
}

.main .chat .content .message .text-main .text.me .attachment .file h5,
.main .chat .content .message .text-main .text.me .attachment .file a:hover {
  color: #fff;
}

.main .chat .content .message .text-main .text.me .attachment .file span {
  color: #fff;
  text-align: left;
}

.main .chat .content .message .text-main .text.me > div > p {
  color: #fff;
}

.main .chat .content .message .text-main .text > div > p {
  font-weight: 400;
  font-size: 16px;
  color: #a0a0a0;
  line-height: 1.4;
  word-break: break-all;
}

.main .chat .content .message .text-main > span {
  color: #a0a0a0;
}

.main .chat .content .message:last-child {
  margin-bottom: 50px;
}

.main .chat .content .message.me {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .chat .content .message.me:last-child {
  margin-bottom: 43px;
}

.main .chat .content .message.me span {
  text-align: right;
}

.main .chat .content .message .avatar-md {
  margin-right: 15px;
}

.main .chat .content .message .text-group {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: flex-start;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.main .chat .content .message .text-group > a {
  display: contents;
}

.main .chat .content .message .text-group.me {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main .chat .content .message span {
  font-weight: 400;
  font-size: 14px;
  display: block;
}

.main .chat .content .message span > .material-icons {
  font-weight: 600;
  font-size: 14px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.main .chat .content .wave .dot {
  width: 6px;
  height: 6px;
  background: #bdbac2;
  border-radius: 100%;
  -webkit-animation: wave 1.3s linear infinite;
          animation: wave 1.3s linear infinite;
  display: inline-block;
  margin-right: 1px;
}

.main .chat .content .wave .dot:last-of-type {
  margin-right: 0;
}

.main .chat .content .wave .dot:nth-child(2) {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.main .chat .content .wave .dot:nth-child(3) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.main .chat .content > div {
  margin-top: auto;
  margin-bottom: auto;
}

.main .chat .content .date {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 26px 0 46px;
}

.main .chat .content .date hr {
  width: 100%;
  margin: 0;
  border-top: 2px solid #fbfbfb;
}

.main .chat .content .date span {
  display: block;
  padding: 0 20px;
}

.main .chat .content .no-messages {
  width: 100%;
  max-width: 400px;
  margin: 47px auto 45px;
  text-align: center;
  display: block;
  color: #212529;
}

.main .chat .content .no-messages .options {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.main .chat .content .no-messages .options .button {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  -webkit-box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.04) !important;
  box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.04) !important;
}

.main .chat .content .no-messages .options .button:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.main .chat .content .no-messages .options .button .material-icons {
  margin-bottom: 0;
}

.main .chat .content .no-messages .options .button:nth-child(2) {
  background: #dc3545;
}

.main .chat .content .no-messages .options .button + .button {
  margin-left: 20px;
}

.main .chat .content .no-messages.request {
  max-width: 420px;
  margin: 50px auto;
}

.main .chat .content .no-messages .material-icons {
  margin-bottom: 20px;
  font-weight: 600;
}

.main .chat .content .no-messages .avatar-xl {
  margin-bottom: 32px;
}

.main .chat .content .no-messages h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 5px;
  display: block;
}

.main .chat .content .no-messages h5 > span {
  font-size: 18px;
  line-height: 1.7;
}

.main .chat .content .no-messages p {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}

.main .chat .btn {
  padding: 0;
  line-height: 0;
}

.main .chat .btn.disabled {
  opacity: 1;
}

.main .chat .btn.disabled:hover {
  color: inherit !important;
  opacity: 1;
}

.main .chat .attach {
  background-color: #2196f3;
  color: #fff;
  border-radius: 100%;
}

.main .chat .attach:hover {
  color: #fff;
  opacity: 0.8;
}

.main .chat .top {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 5px;
  background: #fff;
}

.main .chat .top .inside {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.main .chat .top .inside .avatar-md {
  margin-right: 15px;
}

.main .chat .top .inside .status {
  position: absolute;
  left: 4px;
  right: 0;
  width: 20px;
  height: 20px;
  border: 5px solid #fff;
  border-radius: 100%;
  margin-top: 0;
  margin-right: 10px;
}

.main .chat .top .inside .status .online {
  color: #2196f3;
}

.main .chat .top .inside .status .offline {
  color: #ccc;
}

.main .chat .top .inside .status .material-icons {
  position: absolute;
  left: -3px;
  bottom: -3px;
  font-size: 16px;
}

.main .chat .top .inside .data {
  margin-right: auto;
  overflow: hidden;
}

.main .chat .top .inside .data h5 {
  font-weight: 700;
  font-size: 16px;
  color: #212529;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main .chat .top .inside .data h5:hover {
  color: #2196f3;
  cursor: pointer;
}

.main .chat .top .inside .data span {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  display: block;
}

.main .chat .top .inside .btn {
  color: #2196f3;
  line-height: 0;
  margin-left: 30px;
  padding: 0;
}

.main .chat .top .inside .btn:hover {
  background: #e8e8e8;
}

.main .chat .top .inside .dropdown-menu-right {
  right: 0 !important;
  bottom: inherit !important;
}

.main .chat .top .inside .dropdown .btn {
  margin-right: 0;
}

.main .chat .bottom {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 30px 0;
  border-top: 2.5px solid #fff;
}

.main .chat .bottom .rta {
  position: relative;
  width: 100%;
}

.main .chat .bottom .rta__autocomplete {
  position: absolute;
  top: unset !important;
  left: 7% !important;
  bottom: 77%;
  border: 1px solid #bdbac2;
  border-radius: 5px;
  max-height: 250px;
  background-color: #fff;
  overflow: auto;
}

.main .chat .bottom .rta__autocomplete ul {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
}

.main .chat .bottom .rta__autocomplete li {
  padding: 3px 20px;
  color: #2196f3;
  cursor: pointer;
}

.main .chat .bottom .rta__autocomplete li:hover {
  background-color: #2196f3;
  color: #fff;
}

.main .chat .bottom label {
  margin-bottom: 0;
}

.main .chat .bottom label input {
  display: none;
}

.main .chat .bottom .form-control {
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
  padding: 16px 58px;
  height: 56px;
  resize: none;
  font-weight: 400;
  background: white;
}

.main .chat .bottom .form-control:disabled {
  background-color: #f5f5f5;
}

.main .chat .bottom .form-control::-webkit-input-placeholder {
  font-weight: 400;
}

.main .chat .bottom .form-control:-ms-input-placeholder {
  font-weight: 400;
}

.main .chat .bottom .form-control::-ms-input-placeholder {
  font-weight: 400;
}

.main .chat .bottom .form-control::placeholder {
  font-weight: 400;
}

.main .chat .bottom .emoji-mart {
  position: absolute;
  left: -2%;
  bottom: 80%;
}

.main .chat .bottom .btn {
  color: #2196f3;
  line-height: 0;
  padding: 0;
}

.main .chat .bottom .btn.emoticons {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 15px 0 20px;
}

.main .chat .bottom .btn.emoticons:hover {
  background: #f5f5f5;
  border-radius: 50% 0% 0% 50%;
}

.main .chat .bottom .btn.send {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 20px 0 15px;
}

.main .chat .bottom .btn.send:hover {
  background: #f5f5f5;
  border-radius: 0% 50% 50% 0%;
}

.main .chat .bottom .btn.attach {
  width: 56px;
  height: 56px;
  padding: 16px;
  margin-left: 20px;
  color: #fff;
  -webkit-box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.04);
}

.main .chat .bottom .btn.attach:hover {
  color: #fff;
}

.main .chat .bottom .btn.attach.btn.disabled:hover {
  color: #fff !important;
}

.main .start {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
}

.main .start .content {
  width: 100%;
  text-align: center;
}

.main .start .content h1 {
  font-weight: 800;
  font-size: 46px;
  color: #212529;
  margin-bottom: 40px;
}

.main .start .content p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.main .start .content .third-party {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 38px;
}

.main .start .content .third-party .item {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 15px;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .start .content .third-party .item:hover {
  -webkit-transform: translateY(-5px) translateZ(0);
  transform: translateY(-5px) translateZ(0);
  opacity: 0.9;
}

.main .start .content .third-party .item:last-of-type {
  margin-right: 0;
}

.main .start .content .third-party .item .material-icons {
  font-size: 30px;
  color: #fff;
}

.main .start .content .third-party .item img {
  width: 25px;
  height: 25px;
}

.main .start .content form {
  width: 100%;
  max-width: 366px;
  margin: 0 auto;
}

.main .start .content .form-group {
  position: relative;
  margin-bottom: 15px;
}

.main .start .content .form-group .form-control {
  height: 56px;
  padding: 0 20px 0 58px;
  font-weight: 400;
  border: 2px solid transparent;
}

.main .start .content .form-group .form-control:focus {
  border: 2px solid #2196f3 !important;
}

.main .start .content .form-group .form-control::-webkit-input-placeholder {
  font-weight: 400;
}

.main .start .content .form-group .form-control:-ms-input-placeholder {
  font-weight: 400;
}

.main .start .content .form-group .form-control::-ms-input-placeholder {
  font-weight: 400;
}

.main .start .content .form-group .form-control::placeholder {
  font-weight: 400;
}

.main .start .content .form-group .btn.icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  color: #bdbac2;
  line-height: 0;
  padding: 0 10px 0 20px;
}

.main .start .content .callout span {
  font-size: 16px;
}

.main .start .content .callout span > a {
  color: #2196f3;
}

.main .start .content .callout span > a:hover {
  text-decoration: underline;
}

.navigation {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.navigation .inside .menu .btn {
  padding: 0;
  color: inherit;
}

.navigation .inside .menu .btn:last-child {
  margin-bottom: 30px;
}

.navigation .inside .menu .material-icons {
  display: block;
  font-size: 45px;
  margin-bottom: 40px;
}

.navigation .inside .menu .material-icons.active {
  color: #2196f3;
}

.navigation .inside .menu .power:hover {
  color: #dc3545;
}

.navigation .inside .menu .power .material-icons {
  font-weight: 600;
  font-size: 45px;
  display: block;
  margin-bottom: 0;
}

.navigation .inside .menu .avatar-xl:hover {
  border: 3px solid #2196f3;
}

.navigation .inside .menu .mode:hover {
  color: #2196f3;
}

.requests {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
  position: relative;
  width: 100%;
  background: #fff;
  pointer-events: auto;
}

.requests .modal-title {
  width: 100%;
}

.requests .modal-title .title {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 15px 20px;
  background: #fdfdfd;
}

.requests .modal-title .title h1 {
  font-weight: 800;
  font-size: 22px;
  color: #212529;
  margin-bottom: 0;
}

.requests .modal-title .title .material-icons {
  font-weight: 800;
}

.requests .modal-title .title .close:hover {
  color: #212529 !important;
}

.requests .content {
  padding: 18px 20px 20px;
}

.requests .content .form-group {
  margin-bottom: 30px;
}

.requests .content .form-group:last-of-type {
  margin-bottom: 33px;
}

.requests .content .form-group .form-control {
  padding: 0 18px;
  height: 56px;
  font-weight: 400;
  border: 2px solid transparent;
}

.requests .content .form-group .form-control:focus {
  border: 2px solid #2196f3 !important;
}

.requests .content .form-group .form-control::-webkit-input-placeholder {
  font-weight: 400;
}

.requests .content .form-group .form-control:-ms-input-placeholder {
  font-weight: 400;
}

.requests .content .form-group .form-control::-ms-input-placeholder {
  font-weight: 400;
}

.requests .content .form-group .form-control::placeholder {
  font-weight: 400;
}

.requests .content .text-control {
  width: 100%;
  height: 130px;
  padding: 14px 17px;
  background: #f5f5f5;
  font-weight: 400;
  font-size: 16px;
  color: #bdbac2 !important;
  border: 2px solid transparent;
  border-radius: 6px !important;
}

.requests .content .text-control:focus {
  border: 2px solid transparent;
  border-radius: 6px;
  outline: 0;
}

.requests .content .text-control::-webkit-input-placeholder {
  color: #bdbac2;
}

.requests .content .text-control:-ms-input-placeholder {
  color: #bdbac2;
}

.requests .content .text-control::-ms-input-placeholder {
  color: #bdbac2;
}

.requests .content .text-control::placeholder {
  color: #bdbac2;
}

.requests .content .members {
  position: absolute;
  top: 28%;
  left: 9%;
  width: 82%;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
}

.requests .content .members .user {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  margin-right: 7px;
  padding: 15px;
  background: #fdfdfd;
  border-radius: 6px;
  margin-bottom: 30px;
  z-index: 2;
}

.requests .content .members .user .avatar-sm {
  margin-right: 10px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.04);
}

.requests .content .members .user h5 {
  font-weight: 600;
  font-size: 15px;
  color: #212529;
  line-height: 1.7;
  margin-bottom: 0;
  margin-right: 6px;
  white-space: nowrap;
}

.requests .content .members .user .btn .material-icons {
  font-weight: 600;
  font-size: 16px;
}

.requests .content .button {
  padding: 16px 25px;
  line-height: 1.5;
}

.requests .btn {
  padding: 0;
  line-height: 0;
}

.fileContainer {
  background-color: #f5f5f5;
  color: #212529;
}

.fileContainer .uploadPictureContainer {
  width: 46%;
  margin: 2%;
}

.not-found {
  height: 100vh;
  background: white;
}

.not-found svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
}

.not-found-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: 50px;
  width: 380px;
  height: 200px;
  font-weight: 300;
  color: #212529;
  font-family: Roboto;
}

.not-found-content h1 {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 40px;
}

.not-found .buttons-con .action-link-wrap {
  margin-top: 40px;
}

.not-found .buttons-con .action-link-wrap a {
  padding: 8px 25px;
  background: #20c997;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  margin-right: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
  cursor: pointer;
}

.not-found .buttons-con .action-link-wrap a:hover {
  background-color: #a0a0a0;
  color: #fff;
}

.not-found #Polygon-1 {
  -webkit-animation: float 1s infinite ease-in-out alternate;
          animation: float 1s infinite ease-in-out alternate;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.not-found #Polygon-2 {
  -webkit-animation: float 1s infinite ease-in-out alternate;
          animation: float 1s infinite ease-in-out alternate;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.not-found #Polygon-3 {
  -webkit-animation: float 1s infinite ease-in-out alternate;
          animation: float 1s infinite ease-in-out alternate;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.not-found #Polygon-4 {
  -webkit-animation: float 1s infinite ease-in-out alternate;
          animation: float 1s infinite ease-in-out alternate;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.not-found #Polygon-5 {
  -webkit-animation: float 1s infinite ease-in-out alternate;
          animation: float 1s infinite ease-in-out alternate;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@media (max-width: 1200px) {
  .aside {
    width: 100%;
    min-width: auto;
    max-width: auto;
  }
}

@media (min-width: 992px) {
  .app {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: flex-start;
    -webkit-box-align: start;
            align-items: flex-start;
  }
  .navigation {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    min-width: 100px;
    max-width: 100px;
  }
  .navigation .inside {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0 0;
    height: 100vh;
  }
  .navigation .inside .menu {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    text-align: center;
  }
  .navigation .inside .menu .f-grow1 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .navigation .inside .menu .avatar-xl {
    margin-bottom: 50px;
  }
  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 95vh;
    max-width: 25%;
    padding: 30px 0;
    margin: auto 15px;
  }
  .main {
    height: 95vh;
    margin: auto 15px;
  }
  .main .start {
    height: 100vh;
  }
  .main .start .content .callout {
    display: none;
  }
  .main .start .content .form-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .start .content .form-parent .form-group {
    margin-right: 15px;
  }
  .main .start .content .form-parent .form-group:last-child {
    margin-right: 0;
  }
  .main .start .content form.signup {
    max-width: 466px;
  }
  .main .call .content .inside {
    max-height: calc(100vh - 0);
  }
  .main .call .content .inside .panel {
    padding: 30px 0;
  }
  .navigation::-webkit-scrollbar {
    display: none;
  }
  .sidebar::-webkit-scrollbar {
    width: 5px;
  }
  .sidebar::-webkit-scrollbar-thumb {
    background: #f5f5f5;
  }
}

@media (max-width: 991px) {
  body {
    padding-bottom: 54px;
    background-image: none !important;
  }
  .aside {
    display: none;
  }
  .chat {
    height: 93vh !important;
  }
  .navigation {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1030;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.04);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.04);
  }
  .navigation .inside {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-align: flex-end;
    -webkit-box-align: end;
            align-items: flex-end;
    padding: 12px 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navigation .inside .menu {
    -ms-flex-wrap: unset !important;
        flex-wrap: unset !important;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
  }
  .navigation .inside .menu .avatar-xl {
    display: none;
  }
  .navigation .inside .menu .mode {
    margin: auto;
  }
  .navigation .inside .menu .power {
    margin-bottom: 0 !important;
  }
  .navigation .inside .menu .power .material-icons {
    font-size: 35px;
  }
  .navigation .inside .menu a {
    margin-left: auto;
    margin-right: auto;
  }
  .navigation .inside .menu a:first-of-type {
    margin-left: 0;
  }
  .navigation .inside .menu a:last-of-type {
    margin-right: 0;
  }
  .navigation .inside .menu .material-icons {
    font-size: 30px;
    margin-bottom: 0;
  }
  .sidebar {
    height: 100%;
    min-height: 600px;
    max-height: 600px;
    padding: 30px 0 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .sidebar::-webkit-scrollbar {
    display: none;
  }
  .main .start {
    padding: 73px 0 77px;
  }
  .main .start .content .button {
    margin-bottom: 20px;
  }
  .main .start .content .callout {
    display: block;
  }
  .main .chat .content {
    height: 600px;
  }
  .main .call .content {
    padding: 60px 0;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .main .chat .content {
    height: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 468px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .requests .title {
    padding: 30px 20px;
  }
  .requests .content {
    padding: 34px 20px 40px;
  }
  .requests .content .user {
    left: 29px;
  }
  .main .start .content h1 {
    font-size: 36px;
  }
  .main .call .content .options .option {
    padding: 0 15px;
  }
  .not-found svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -190px;
  }
  .not-found-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -190px;
    text-align: center;
  }
}

@media (max-width: 350px) {
  .main .call .content .options .option {
    padding: 0 12px;
  }
  .main .call .content .options .option.call-end {
    margin: 0 15px;
  }
}

.sidebar {
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.sidebar .create {
  position: absolute;
  top: 30px;
  right: 20px;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.04);
  background: #fff;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  float: right;
  cursor: pointer;
}

.sidebar .create:hover {
  -webkit-transform: translateY(-5px) translateZ(0);
  transform: translateY(-5px) translateZ(0);
}

.sidebar .create .material-icons {
  font-size: 22px;
  color: #bdbac2;
}

.sidebar .create.btn:not(:disabled):not(.disabled).active {
  -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.04);
}

.sidebar .info {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.sidebar .info .avatar-xl {
  height: auto;
  width: 100%;
  min-width: 100px;
  max-width: 100px;
  margin-bottom: 20px;
}

.sidebar .info h4 {
  color: #212529;
}

.sidebar .contacts .contact .avatar-md {
  margin-right: 15px;
}

.sidebar .contacts .contact.active .material-icons {
  color: #2196f3;
}

.sidebar .contacts .contact .status {
  position: absolute;
  left: 4px;
  right: 0;
  width: 20px;
  height: 20px;
  border: 5px solid #fff;
  border-radius: 100%;
}

.sidebar .contacts .contact .status .online {
  color: #2196f3;
}

.sidebar .contacts .contact .status .offline {
  color: #ccc;
}

.sidebar .contacts .contact .status .material-icons {
  position: absolute;
  left: -3px;
  bottom: -3px;
  font-size: 16px;
}

.sidebar .contacts .contact.active, .sidebar .contacts .contact:hover {
  border-bottom: 2px solid #2196f3;
}

.sidebar .contacts a:hover {
  color: inherit;
}

.sidebar .contacts .sort-members {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.sidebar .contacts .sort-members h1 {
  padding-bottom: 0;
}

.sidebar .discussions .single .avatar-md {
  margin-right: 15px;
}

.sidebar .discussions .single.active .material-icons {
  color: #2196f3;
}

.sidebar .discussions .single .status {
  position: absolute;
  left: 4px;
  right: 0;
  width: 20px;
  height: 20px;
  border: 5px solid #fff;
  border-radius: 100%;
}

.sidebar .discussions .single .status .online {
  color: #2196f3;
}

.sidebar .discussions .single .status .offline {
  color: #ccc;
}

.sidebar .discussions .single .status .material-icons {
  position: absolute;
  left: -3px;
  bottom: -3px;
  font-size: 16px;
}

.sidebar .discussions .single.active, .sidebar .discussions .single:hover {
  border-bottom: 2px solid #2196f3;
}

.sidebar .discussions a:hover {
  color: inherit;
}

.sidebar .discussions .single .data {
  overflow: hidden;
}

.sidebar .discussions .single .data p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar .discussions .single .data span {
  font-weight: 400;
  font-size: 14px;
  float: right;
}

.sidebar .discussions .single.active p,
.sidebar .discussions .single.active span, .sidebar .discussions .single.unread p,
.sidebar .discussions .single.unread span {
  font-weight: 500 !important;
  color: #212529;
}

.sidebar .discussions .single .new {
  position: absolute;
  left: 39px;
  right: 0;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 100%;
  -webkit-box-shadow: 5px 0 10px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 5px 0 10px 0 rgba(0, 0, 0, 0.04);
  margin-top: -23px;
  background: #f0d24b;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.sidebar .discussions .single .new span {
  font-weight: 500;
  font-size: 12px;
  color: #fff !important;
}

.sidebar .search {
  margin-bottom: 30px;
}

.sidebar .search .form-control {
  padding: 0 15px 0 54px;
  height: 56px;
}

.sidebar .search .loop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 15px;
  margin-bottom: 0 !important;
  line-height: 0;
}

.sidebar .search .loop .material-icons {
  font-weight: 600;
  font-size: 25px;
  color: #bdbac2;
}

.sidebar .search .loop .material-icons.filter-list {
  font-weight: 400;
}

.sidebar .sort {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-align: baseline;
  -webkit-box-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 40px;
  text-align: center;
}

.sidebar .sort .btn {
  font-weight: 500;
  font-size: 15px;
  color: inherit;
  padding: 8px 20px;
  white-space: nowrap;
  border-radius: 100px;
}

.sidebar .sort .btn.active {
  padding: 8px 20px;
  background: #f5f5f5;
  border-radius: 100px;
  color: #2196f3;
}

body {
  background-color: #fdfdfd;
  color: #bdbac2;
  display: initial;
  font-family: 'Maven Pro', sans-serif;
  font-size: 15px;
  background: url("https://img.wallpapersafari.com/desktop/1920/1080/15/47/bld5Un.jpg") no-repeat center;
  background-size: cover;
}

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: #2196f3;
}

img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

p {
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 0;
}

.app {
  overflow: auto;
}

.bg-blue {
  background: #2196f3 !important;
}

.bg-indigo {
  background: #6610f2 !important;
}

.bg-purple {
  background: #6f42c1 !important;
}

.bg-red {
  background: #dc3545 !important;
}

.bg-pink {
  background: #e83e8c !important;
}

.bg-orange {
  background: #fd7e14 !important;
}

.bg-gray {
  background: #bdbac2 !important;
}

.bg-green {
  background: #28a745 !important;
}

.bg-teal {
  background: #20c997 !important;
}

.bg-yellow {
  background: #ffc107 !important;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-30 {
  font-size: 30px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-42 {
  font-size: 42px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.modal-dialog {
  max-width: 450px;
}

.modal-backdrop {
  opacity: 0 !important;
}

.start {
  padding-bottom: 0;
}
/*# sourceMappingURL=style.css.map */