@media (max-width: 1200px) {
    .aside {
        @include box-size(null, null, (width, auto));
    }
}

@media(min-width: 992px) {
    .app {
        @include d-flex(null, flex-start);
    }

    .navigation {
        @include pos-sticky(hidden, auto);
        @include box-size(null, null, (width, 100px));
        z-index: 1021;

        .inside {
            @include d-flex(null, center, column, 30px 0 0);
            height: 100vh;

            .menu {
                @include d-flex(null, null, column);
                flex-basis : auto;
                flex-grow  : 1;
                flex-shrink: 0;
                text-align : center;

                .f-grow1 {
                    flex-grow: 1;
                }

                .avatar-xl {
                    margin-bottom: 50px;
                }
            }
        }
    }

    .sidebar {
        @include pos-sticky(hidden, scroll);
        @include box-size(100%, 95vh);
        max-width: 25%;
        padding  : 30px 0;
        margin   : auto 15px;
    }

    .main {
        height: 95vh;
        margin: auto 15px;

        .start {
            height: 100vh;

            .content {
                .callout {
                    display: none;
                }

                .form-parent {
                    display: flex;

                    .form-group {
                        margin-right: 15px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                form.signup {
                    max-width: 466px;
                }
            }
        }

        .call .content .inside {
            max-height: calc(100vh - 0);

            .panel {
                padding: 30px 0;
            }
        }
    }

    .navigation::-webkit-scrollbar {
        display: none;
    }

    .sidebar::-webkit-scrollbar {
        width: 5px;
    }

    .sidebar::-webkit-scrollbar-thumb {
        background: $color_wild_sand;
    }
}

@media(max-width: 991px) {
    body {
        padding-bottom  : 54px;
        background-image: none !important;
    }

    .aside {
        display: none;
    }

    .chat {
        height: 100vh !important;
    }

    .navigation {
        @include pos-fixed(null, 0, 0, 0);
        box-shadow: 0 0 20px 0 $black_4;

        .inside {
            @include d-flex(center, flex-end, null, 12px 15px);
            flex-wrap: wrap;

            .menu {
                flex-wrap  : unset !important;
                align-items: flex-end;
                width      : 100%;

                .avatar-xl {
                    display: none;
                }

                .mode {
                    margin: auto;
                }

                .power {
                    margin-bottom: 0 !important;

                    .material-icons {
                        font-size: 35px;
                    }
                }

                a {
                    margin-right: auto;

                    &:first-of-type {
                        margin-left: 0;
                    }

                    &:last-of-type {
                        margin-right: 0;
                    }
                }

                .material-icons {
                    @include font-style(null, 30px, null, null, (bottom, 0));
                }
            }
        }
    }

    .sidebar {
        @include overflow(30px 0 0, hidden, auto);
        height: 100vh;
    }

    .sidebar::-webkit-scrollbar {
        display: none;
    }

    .main {
        .start {
            padding: 73px 0 77px;

            .content {
                .button {
                    margin-bottom: 20px;
                }

                .callout {
                    display: block;
                }
            }
        }

        .chat .content {
            height: 600px;
        }

        .call .content {
            padding: 60px 0;
            height : 100%;
        }
    }
}

@media(min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media(max-width: 768px) {
    .main .chat {

        .content {
            height: 100%;
        }

        .bottom {
            padding      : 15px 0;
            margin-bottom: 55px;
        }
    }
}

@media(min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media(max-width: 468px) {
    .container {
        padding-left : 5px;
        padding-right: 5px;
    }

    .requests {
        .title {
            padding: 30px 20px;
        }

        .content {
            padding: 34px 20px 40px;

            .user {
                left: 29px;
            }
        }
    }

    .main {
        .start .content h1 {
            font-size: 36px;
        }

        .call .content .options .option {
            padding: 0 15px;
        }
    }

    .not-found {
        svg {
            @include not-found(-250px, -190px);
        }

        &-content {
            @include not-found(-100px, -190px);
            text-align: center;
        }
    }
}

@media(max-width: 350px) {
    .main .call .content .options .option {
        padding: 0 12px;

        &.call-end {
            margin: 0 15px;
        }
    }
}