@mixin side-bar-list {
    height    : 100%;
    background: $main-color;
    overflow  : auto;

    ul {
        padding : 0;
        overflow: scroll;
    }

    h3 {
        margin: 5px 0;
        color : white;
    }

    .list-item {
        margin: 10px 0;

        a {
            font-weight    : 600;
            text-decoration: none;
            color          : white;
        }

        &.active a,
        &:hover a {
            color: $secondary-color;
        }

        .unread {
            display         : inline-block;
            width           : 17px;
            line-height     : 17px;
            font-size       : small;
            text-align      : center;
            background-color: lightcoral;
            color           : white;
            border-radius   : 50%;

        }
    }
}

.rooms-list {
    @include side-bar-list;
    grid-area: r;
}

.online-list {
    @include side-bar-list;
    grid-area: o;

    i {
        font-size: small;

        &.fas {
            color: turquoise !important;
        }
    }
}

.new-room-form {
    grid-area : n;
    padding   : 0 5px;
    background: white;
    color     : $main-text-color;

    form {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        height         : 100%;
    }

    input {
        width : 135px;
        border: 0;

        &::placeholder {
            font-weight: 200;
            color      : $main-text-color;
        }

        &:focus {
            outline-width: 0;
        }
    }

    button {
        color : $main-text-color;
        border: 0;
    }
}