.sidebar {
    @include border(null, 30px, 0px 0px 20px 0px $black_20);
    background: $white;

    .room-info {
        @include d-flex(null, center, column, null, (bottom, 20px));

        .avatar-xl {
            @include box-size(null, auto, (width, 100px));
            margin-bottom: 20px;
            cursor       : pointer;
        }

        h4 {
            color: #212529;
        }
    }

    .contacts {
        @include sidebar-info(contact);

        .sort-members {
            @include d-flex(space-between, flex-start, null, null);

            h1 {
                padding-bottom: 0
            }
        }
    }

    .accordion {
        button {
            width     : 100%;
            text-align: left;

            .material-icons {
                @include transition(all 0.3s);
                float: right;

                &.rotate {
                    @include transform(rotate(90deg));
                }
            }
        }
    }

    .discussions {
        @include sidebar-info(single);

        .single {

            &.active,
            &.unread {

                p,
                span {
                    @include font-style(500 !important, null, $color_shark)
                }
            }

            .new {
                @include combine((null, 39px, 0, null), 30px, 2px solid $white, 5px 0 10px 0 $black_4, -23px, $color_ronchi);
                @include d-flex(center, center);

                span {
                    @include font-style(500, 12px, $white !important);
                }
            }
        }
    }

    .search {
        margin-bottom: 30px;

        .form-control {
            padding: 0 15px 0 54px;
            height : 56px;
        }

        .loop {
            @include pos-absolute(0, 0, null, 0);
            padding      : 0 15px;
            margin-bottom: 0 !important;
            line-height  : 0;

            .material-icons {
                @include font-style(600, 25px, $color_chatelle);

                &.filter-list {
                    font-weight: 400;
                }
            }
        }
    }

    .sort {
        @include d-flex(center, baseline, row, null, (bottom, 40px));
        text-align: center;

        .btn {
            @include font-style(500, 15px, inherit);
            padding      : 8px 20px;
            white-space  : nowrap;
            border-radius: 100px;

            &.active {
                @include main-decoration(8px 20px, $color_wild_sand, 100px);
                color: $color_dodger_blue;
            }
        }
    }
}