$main-color          : #2c303b;
$secondary-color     : deepskyblue;
$main-text-color     : #3e5869;
$secondary-text-color: #b0c7d6;
$send-message-form   : #F5F5F5;

@import './message.scss';
@import './side-bar.scss';

#root {
    height: 100%;
}

html,
body {
    height     : 100%;
    font-family: system-ui;
    font-weight: 200;
    color      : #3e5869;
}

ul {
    padding        : 20px;
    list-style-type: none;
    word-break     : break-all;
}

.app {
    display              : grid;
    height               : 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows   : 1fr 1fr 1fr 1fr 30px 70px;
    grid-template-areas  :
        "r m m m m m"
        "r m m m m m"
        "o m m m m m"
        "o m m m m m"
        "o t t t t t"
        "n f f f f f";
}

::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background   : #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;

}