@import './definition';
@import './animation';
@import './aside';
@import './avatar';
@import './call';
@import './controls';
@import './messages';
@import './navigation';
@import './forms';
@import './notfound';
@import './responsive';
@import './sidebar';

body {
    @include box-color($color_white, $color_chatelle);
    display        : initial;
    font-family    : 'Maven Pro', sans-serif;
    font-size      : 15px;
    background     : url('https://img.wallpapersafari.com/desktop/1920/1080/15/47/bld5Un.jpg') no-repeat center;
    background-size: cover;
}

a {
    @include transition(all 0.3s);
    text-decoration: none;
    color          : inherit;

    &:hover {
        text-decoration: none;
        color          : $color_dodger_blue;
    }
}

img {
    @include transition(all 0.3s);
}

p {
    @include font-style(500, null, null, 1.7, (bottom, 0));
}

.app {
    overflow: auto;
}

@each $color in (blue $color_dodger_blue,
    indigo $color_electric_violet,
    purple $color_studio,
    red $color_amaranth,
    pink $color_cerise,
    orange $color_ecstasy,
    gray $color_chatelle,
    green $color_sea_green,
    teal $color_shamrock,
    yellow $color_amber) {
    .#{"bg-" + nth($color, 1)} {
        background: #{nth($color, 2)} !important;
    }
}

.material-icons {
    $i: 18;

    @while $i <=48 {
        &.md-#{$i} {
            font-size: #{$i}px;
        }

        $i: $i+6;
    }
}

.notification-toast {
    @include pos-absolute(0, 0, 0, null);
    @include box-color($color_medium_purple, $white);
    padding   : 10px;
    text-align: center;
    z-index   : 1021;

    span {
        text-decoration: underline;
        cursor         : pointer;
    }
}

.modal {
    &-dialog {
        max-width: 450px;
    }

    &-backdrop {
        opacity: 0 !important;
    }
}

.start {
    padding-bottom: 0;
}