@import './definition';

.online-list {
    @include side-bar-list;
    grid-area: o;

    i {
        font-size: small;

        &.fas {
            color: turquoise !important;
        }
    }
}

.typing-users {
    @include pos-absolute(7.5%, 17%);
    padding: 3px 20px;

    .alert {
        padding: 8px 20px;
    }
}